extends ./layout.jade
block contenido
	div(class="col-md-12 remove-float center-block text-center big-top-space")
		h1 Bienvenidos al Sistema - Modulo Sesión
		a(href="/login" class="right-space") Iniciar Sesión
		br
		a(href="/signup") Registro