extends ./layout.jade
block contenido
	div(class="col-md-4 remove-float center-block big-top-space")
		h1 Inicie Sesión...
		form(action="/sessions", method="POST")
			div(class="form-group")
				label(for="usuario") Usuario  
				input(type="text", name="usuario", placeholder="Nombre de Usuario", id="usuario", class="form-control")
			div(class="form-group")
				label(for="password") Contraseña 
				input(type="password", name="password", placeholder="Password", id="password", class="form-control")
					
			div(class="row")
				div(class="col-xs-12 col-sm-6")
					input(type="submit" value="Iniciar Sesión" class="btn btn-info")
				div(class="col-xs-12 col-sm-6 text-right")
					a(href="/signup") No tengo Cuenta